/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 */


.event {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
.event-date .event-month {
  margin: 0;
  background: #eee;
  padding: 0.5rem 2rem;
  text-align: center; }
.event-date .event-day {
  margin: 0;
  border: 1px solid #eee;
  padding: 0 2rem;
  text-align: center;
  font-size: 2rem; }

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
.event-desc .event-desc-header {
  margin: 0 0 0.5rem 0;
  padding: 0; }
.event-desc .event-desc-detail {
  margin: 0 0 0.25rem;
  padding: 0; }
.event-desc .event-desc-time {
  font-weight: bold; }
.event-desc .rsvp.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0; }